@defer {
    <div class="register-input profile-image" [class.dragging] = "isDraggingFile" (dragover)="onDragOver($event)" (dragleave)="onDragEnd($event)" (drop)="onFileDrop($event)">
        <span class="small-text">Profile image (optional)</span>
        <div id="profile-image-preview" [class.removable] = "profileImageRemovable" (click)="profileImageRemoveClick()" (mouseover)="profileImageMouseOver()" (mouseleave)="profileImageMouseLeave()" [style.backgroundImage]="'url(' + (imageSrc? imageSrc : 'assets/profile-image-placeholder.png') + ')'">
            <div id="image-delete-overlay"></div>
            <span class="small-text link">Remove</span>
        </div>
        <input type="file" accept="image/*" id="profile-image-input" (change)="onFileSelect($event)">
        <span class="small-text">Drag image here or <span class="link" (click)="profileImageInputClick()">click here to select</span></span>
    </div>
    <div class="register-input" [class.disabled] = "usernameInput.formControl.disabled">
        <span class="small-text" [class] = "usernameInput.inputClass| async">Username</span>
        <input type="text" required [formControl] = "usernameInput.formControl" (blur)="getAvailability('username', usernameInput.formControl)">
        <span class="small-text message" [class] = "usernameInput.inputClass">{{usernameInput.inputMessage| async}}</span>
    </div>
    <div class="register-input" [class.disabled] = "passwordInput.formControl.disabled">
        <span class="small-text">Password</span>
        <input type="password" autocomplete="false" required [formControl] = "passwordInput.formControl">
    </div>
    <div class="register-input">
        <span class="small-text" [class] = "emailInput.inputClass | async" [class.disabled] = "emailInput.formControl.disabled">Email (optional)</span>
        <input type="email" autocomplete="email" [formControl] = "emailInput.formControl" (blur)="getAvailability('email', emailInput.formControl)">
        <div class="small-text message" [class] = "emailInput.inputClass | async">{{emailInput.inputMessage | async}}</div>
    </div>
    <span class="small-text" id="back-to-login-text"><a routerLink="/login/sign-in" class="link">Back to login</a></span>
}
@loading (minimum 0.35s) {
    <div id="loader-wrapper">
        <div class="circular-loader gradient"></div>
    </div>
}
