:host {
  display: block;
  height: 100%;
}

#chat-panel-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#top-panel {
  width: 100%;
  background-color: #1F1D1D;
  height: auto;
  box-sizing: border-box;
  padding: 8px;
}

#chats-container {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  padding-left: 120px;
  padding-right: 200px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

#message-input-bar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-sizing: border-box;
  width: 60%;
  padding-top: 40px;
  padding-bottom: 40px;
}

#message-input-bar .global-text-input {
  margin: 0;
}

#message-input-bar #message-input-buttons-wrapper .small-button {
  background-image: url('/assets/send-message.png');
}

textarea {
  resize: none;
  min-width: 470px;
}


.message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.message .user-element{
  width: auto;
}

.message .user-element .profile-image{
  height: 45px;
}

.message .message-content {
  background-color: #1F1D1D;
  padding: 16px;
  border-radius: 20px;
}

.message.self{
  flex-direction: row-reverse;
}

.message.self .profile-image {
  display: none;
}

