<div id="chat-panel-wrapper">
    <div id="top-panel">
        <div class="user-element chat-element" [class.active-now]="conversationActiveNow">
            @if(currentConversation){
                @switch(currentConversation!.type){
                    @case ('private') {<div class="profile-image" [style.background-image]="conversationImageQuery"></div>}
                    @case ('group') {
                        <div class="profile-image group-image">
                            @for(user of currentConversation!.users; track user){
                                <div class="profile-image group-user-image" [style.background-image]="'url(http://localhost:3000/api/express/data/profileImage/' + user.id + '), url(/assets/profile-image-placeholder.png)'"></div>
                            }
                        </div>
                    }
                @default {<div class="profile-image default-image"></div>}
            }
            }
            <div class="labels">
                <span class="name medium-text">{{conversationTitle}}</span>
                <span class="message small-text">{{conversationSubtitle}}</span>
            </div>
        </div>
    </div>
    <div class="global-horizontal-divider"></div>
    <div id="chats-container">
        @if(messages){
            @for(message of messages; track message.content){
                <div class="message" [class.self]="message.self" [class]="getMessageOrderStyleClass(currentConversation!, $index)">
                    @if(messageGroups.includes($index)){
                        <div class="user-element">
                            <div class="profile-image" [style.background-image]="'url(http://localhost:3000/api/express/data/profileImage/' + message.senderId + '), url(' + '/assets/profile-image-placeholder.png' + ')'"></div>
                        </div>
                    }
                    <span class="message-content small-text text-left">{{message.content}}</span>
                </div>
            }
        }
        @if(currentConversation){
            @for(user of currentConversation.users; track user.id){
                @if(user.isTyping === true){
                <div class="message typing">
                    <div class="user-element">
                        <div class="profile-image" [style.background-image]="'url(http://localhost:3000/api/express/data/profileImage/' + user.id+ '), url(' + '/assets/profile-image-placeholder.png' + ')'"></div>
                    </div>
                    <div class="typing-animation">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>
                }
            }
        }
    </div>
    <div id="message-input-bar">
        <div class="global-horizontal-divider"></div>
        <textarea type="text" [placeholder]="'Send message to ' + (conversationTitle || '')" class="global-text-input" (input)="messageInputChange($event)"></textarea>
        <div id="message-input-buttons-wrapper">
            <div class="small-button"></div>
        </div>
    </div>
</div>
