:host {
  display: block;
  height: 100%;
}

#chat-panel-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#top-panel {
  width: 100%;
  background-color: #1F1D1D;
  height: auto;
  box-sizing: border-box;
  padding: 8px;
}

#chats-container {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  padding-left: 120px;
  padding-right: 200px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 16px;
}

#message-input-bar {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-sizing: border-box;
  width: 100%;
  padding: 13%;
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #1F1D1D;
}

#message-input-bar .global-horizontal-divider {
  position: absolute;
  top: 0;
}

#message-input-bar .global-text-input {
  margin: 0;
}

#message-input-bar #message-input-buttons-wrapper .small-button {
  background-image: url('/assets/send-message.png');
}

textarea {
  resize: none;
  min-width: 470px;
}

.user-element.chat-element .profile-image.group-image{
  position: relative;
  border-radius: 0;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130%;
  width: auto;
  aspect-ratio: 1;
}

.user-element.chat-element .profile-image.group-image .group-user-image {
  width: 50%;
  height: auto;
  aspect-ratio: 1;
}


.message {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 2px;
}

.message.inner .message-content {
  border-radius: 10px 20px 20px 10px;
}

.message.outer-top .message-content {
  border-radius: 20px 20px 20px 10px;
}

.message.outer-bottom .message-content {
  border-radius: 10px 20px 20px 20px;
}

.message.inner.self .message-content {
  border-radius: 20px 10px 10px 20px;
}

.message.self.outer-top .message-content {
  border-radius: 20px 20px 10px 20px;
}

.message.self.outer-bottom .message-content {
  border-radius: 20px 10px 20px 20px;
}

.message .user-element{
  width: auto;
}

.message .user-element {
  position: absolute;
  left: -77px;
}

.message .user-element .profile-image{
  height: 45px;
}

.message .message-content {
  background-color: #1F1D1D;
  padding: 16px;
  border-radius: 20px;
}

.message.self{
  flex-direction: row-reverse;
}

.message.self.sending::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  right: -20px;
  bottom: 8px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #4a4a4a;
}

.message.self .profile-image {
  display: none;
}

.message-typing {
  padding-top: 16px;
}


.message.typing .typing-animation{
  position: relative;
  width: 65px;
  height: auto;
  aspect-ratio: 2;
  background-color: #1F1D1D;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.message.typing .typing-animation .dot {
  width: 13%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
}

.message.typing .typing-animation .dot:nth-of-type(1) {
  animation: dot-jump 1s infinite ease-out;
}

.message.typing .typing-animation .dot:nth-of-type(2) {
  animation: dot-jump 1s infinite ease-out;
  animation-delay: 0.15s;
}

.message.typing .typing-animation .dot:nth-of-type(3) {
  animation: dot-jump 1s infinite ease-out;
  animation-delay: 0.3s;
}

