<div id="friends-wrapper">
    @defer{
        @if(firendsAcquired){
            @for(friend of friends; track friend){
                <friend [friendData]="friend"></friend>
            }
        }
        
    }
    @placeholder (minimum 1s) {
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
    }
</div>
