<div id="friends-wrapper">
    @defer{
        <friend></friend>
        <friend></friend>
        <friend></friend>
    }
    @placeholder (minimum 1s) {
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
    }
</div>
