<div id="friends-wrapper">
    @defer{
        @for(friend of friends; track friend){
          <friend [friendData]="friend"></friend>
        }
    }
    @placeholder (minimum 1s) {
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
        <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
    }
</div>
