@defer {
    <div id="sign-in-form">
        <div class="sign-in-input" [class.disabled] = "usernameEmailFormControl.disabled">
            <span class="small-text" [class] = "usernameEmailFormControl.inputClass">Username or Email</span>
            <input type="text" required name="username" [formControl] = "usernameEmailFormControl" (blur)="inputBlur(usernameEmailFormControl)">
            <span class="small-text message" [class] = "usernameEmailFormControl.inputClass">{{usernameEmailFormControl.inputMessage}}</span>
        </div>
        <div class="sign-in-input" [class.disabled] = "passwordFormControl.disabled">
            <span class="small-text" [class] = "passwordFormControl.inputClass">Password</span>
            <input type="password" required name="password" [formControl] = "passwordFormControl" (blur)="inputBlur(passwordFormControl)">
            <span class="small-text message" [class] = "passwordFormControl.inputClass">{{passwordFormControl.inputMessage}}</span>
        </div>
        <div class="sign-in-input checkbox">
            <span class="small-text">Remember me</span>
            <input type="checkbox">
        </div>
        <div id="sign-up-text-container">
            <span class="small-text" id="sign-up-text">Don't have an account? <a routerLink="/login/register" class="link">Sign up here</a></span>
        </div>
    </div>
}
@loading (minimum 0.35s) {
    <div id="loader-wrapper">
        <div class="circular-loader gradient"></div>
    </div>
}

