<div id="friend">
    <div id="profile-image" [style.background-image]="'url(http://localhost:3000/api/express/data/profileImage/' + friendData.id + ')'"></div>
    <div id="labels">
        <span id="name" class="medium-text">{{friendData.username}}</span>
        <span id="last-active" class="small-text"></span>
    </div>
    <div id="buttons">
        <div class="button" id="remove-friend">
            <div class="button-icon"></div>
        </div>
        <div class="button" id="send-message">
            <div class="button-icon"></div>
        </div>
    </div>
</div>
