:host {
  display: block;
}

#results-wrapper.placeholder{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  flex-direction: column;
  gap: 16px;
}

#results-wrapper.placeholder::before{
  content: '';
  background-image: url('/assets/search-icon.png');
  aspect-ratio: 1;
  background-size: cover;
  background-position: center center;
  width: 80px;
  height: auto;
  filter: opacity(.2);
}

#results-wrapper.placeholder::after{
  font-family: "Noto Sans", serif;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  filter: opacity(.2);
}

#results-wrapper.placeholder.empty::before{
  background-image: url('/assets/search-icon.png');
}

#results-wrapper.placeholder.empty::after{
  content: 'Search for a user';
}

#results-wrapper.placeholder.not-found::before{
  background-image: url('/assets/not-found-friend.png');
}

#results-wrapper.placeholder.not-found::after{
  content: 'No matching users found';
}

.user-element.search-user-element .buttons-wrapper .small-button.add-friend{
  background-image: url('/assets/friends/add-friend.png');
}

.user-element.search-user-element .buttons-wrapper .small-button.is-friend{
  background-image: url('/assets/send-message.png');
}

.user-element.search-user-element .buttons-wrapper .small-button.request.outgoing{
  display: none;
}

.user-element.search-user-element .buttons-wrapper .small-button.request-decline{
  background-image: url('/assets/friends/remove-friend.png');
}
.user-element.search-user-element .buttons-wrapper .small-button.request-accept{
  background-image: url('/assets/accept-invitation.png');
}

