<div id="search-wrapper">
    <input [formControl]="searchBarFormControl" id="search-bar" type="text" placeholder="Search for users">
    <div id="results-wrapper" [class.placeholder] = "isPlaceholder" [class]="placeholderClass">
        @if(searchInProgress){
            @for(n of placeholdersCount; track n){
                <friend-conversation-loading-placeholder></friend-conversation-loading-placeholder>
            }
        }
        @else{
            @for(user of searchResults; track user){
                <div class="user-element search-user-element">
                    <div class="profile-image" [style.background-image]="'url(http://localhost:3000/api/express/data/profileImage/' + user.id + '), url(/assets/profile-image-placeholder.png)'"></div>
                    <div class="labels">
                        <span class="name medium-text">{{user.username}}</span>
                        <span class="message small-text">{{user.message}}</span>
                    </div>
                    <div class="buttons-wrapper">
                        @switch (user.buttonsType) {
                            @case ('add-friend') {<div class="small-button add-friend" [class.disabled]="user.actionInProgress" [class.loading]="user.buttons.sendRequest.loading" (click)="sendFriendRequest(user)"></div>}
                            @case ('is-friend') {<div class="small-button is-friend"></div>}
                            @case ('request-outgoing') {}
                            @case ('request-incoming') {
                                <div class="small-button request-decline" [class.disabled]="user.actionInProgress" [class.loading]="user.buttons.decline.loading" (click)="declineFriendRequest(user)"></div>
                                <div class="small-button request-accept" [class.disabled]="user.actionInProgress" [class.loading]="user.buttons.accept.loading" (click)="acceptFriendRequest(user)"></div>
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
