/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html{
  overflow: hidden;
}

.big-button {
    position: relative;
    background: linear-gradient(100deg, #FF31D9 0%, #F60947 50%, #6C00F5 100%);
    width: fit-content;
    padding: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: filter .13s ease-in-out;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  .big-button:hover{
    filter: saturate(1.3);
  }
  
  .big-button:active{
    box-shadow: inset 0px 0px 18px -10px rgba(0, 0, 0, 1);
  }
  
  .big-button span{
    font-family: "Noto Sans", serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    transition: opacity 0.1s ease-in-out;
  }

  .big-button.loading{
    filter: brightness(0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: default;
  }
  .big-button.loading span{
    opacity: 0;
  }
  .big-button::after{
    margin-top: 100%;
    transition: margin-top 0.15s ease-out;
    position: absolute;
    content: "";
  }
  .big-button.loading::after{
    margin-top: 0%;
    width: 30%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 5px solid;
    border-color: rgba(221, 221, 240, 0);
    border-right-color: white;
    animation: spinner-d3wgkg 1s infinite linear;
  }

  .small-button {
    position: relative;
    min-height: 48px;
    width: auto;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    background-size: calc(min(28px, 70%));
    background-repeat: no-repeat;
  }

  .small-button:hover{
    background-color: #4a4a4a;
  }
  
  .small-button:active{
    filter: brightness(.7);
  }

  .small-button.disabled:not(.loading) {
    filter: brightness(.5);
    cursor: default;
  }

  .small-button.disabled:hover {
    background-color: inherit;
  }

  .small-button.loading{
    background: none;
    cursor: default;
  }

  .small-button.loading:active {
    filter: brightness(1);
  }

  .small-button.loading:hover {
    background-color: inherit;
  }

  .small-button.loading:after{
    content: '';
    position: absolute;
    margin-top: 0%;
    width: 50%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 5px solid;
    border-color: rgba(221, 221, 240, 0);
    border-right-color: white;
    animation: spinner-d3wgkg 1s infinite linear;
  }

  .small-text{
    font-family: "Noto Sans", serif;
    font-size: .8rem;
    color: white;
    text-align: center;
    padding-left: 8px;
  }

  .small-text .link,  .small-text.link{
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
  }

  .medium-text{
    font-family: "Noto Sans", serif;
    font-size: 1.2rem;
    color: white;
    text-align: center;
  }

  .big-text{
    font-family: "Noto Sans", serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }
  .big-text.text-left,
  .medium-text.text-left,
  .small-text.text-left{
    text-align: left;
  }

  .circular-loader{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid;
    border-color: rgba(221, 221, 240, 0);
    border-right-color: #C1A4DF;
    animation: spinner-d3wgkg 1s infinite linear;
 }
 .circular-loader.gradient{
   border-color: linear-gradient(100deg, #FF31D9 0%, #F60947 50%, #6C00F5 100%);
 }
 
 @keyframes spinner-d3wgkg {
    to {
       transform: rotate(1turn);
    }
 }

 .global-loading{
  position: relative;
  overflow-x: hidden;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 1);
 }

 .global-loading:before{
  content: '';
  background: linear-gradient(90deg, rgba(31,29,29,1) 20%, rgba(74,74,74,1) 50%, rgba(31,29,29,1) 70%);
  position: absolute;
  width: 100%;
  height: 100%;
  left: -80%;
  animation: global-loading-bg 1.5s ease-in infinite;
}


 @keyframes global-loading-bg {
  from{
    left: -80%;
  }
  to{
    left: 80%;
  }
}


.user-element{
  width: 100%;
  height: 80px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-element .profile-image{
  position: relative;
  height: 100%;
  width: auto;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  background-color: transparent;
}

.user-element .labels{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
}

.user-element .labels span{
  padding: 0;
}

.user-element .buttons-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: auto;
  gap: 10px;
  flex-grow: 1;
}

.user-element .buttons-wrapper .button-icon{
  height: 60%;
  width: auto;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center center;
}


.user-element .buttons-wrapper .button:hover{
  background-color: #4a4a4a;
}

.user-element .buttons-wrapper .button:active{
  filter: brightness(.7);
}

.user-element.active-now .profile-image::after {
  content: '';
  position: absolute;
  width: 12px;
  height: auto;
  aspect-ratio: 1;
  background-color: #28db14;
  right: 0;
  bottom: -4px;
  border-radius: 50%;
}

.global-horizontal-divider {
  width: 100%;
  height: 20px;
  box-shadow: 0px -7px 8px -5px black;
  
}

a, a img {
  text-decoration: none;
  user-select: none;
  -webkit-user-drag: none;
}

.global-text-input {
  width: 45%;
  height: auto;
  box-sizing: border-box;
  padding: 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}

.global-text-input, .global-text-input:-webkit-autofill{
  margin-top: 8px;
  margin-bottom: 24px;
  font-family: "Noto Sans", serif;
  position: relative;
  font-size: 1rem;
  color: white;
  width: 100%;
  padding: 16px;
  background-color: #312F2F;
  box-shadow: inset 0px 0px 5px -2px rgba(0, 0, 0, 1);
  border: none;
  border-radius: 15px;
  position: relative;
  transition: background-color 0.1s ease-in-out, box-shadow 0.15s ease-in-out, filter 0.1s ease-in;
}




